<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mastermind Chat Interface</title>
    <link rel="stylesheet" href="/css/style.css">
    <!-- INPUT_REQUIRED {Add any additional stylesheets or scripts here} -->
</head>

<body>
    <header>
        <h1>Mastermind Chat Interface</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/chat">Chat</a></li>
                <!-- INPUT_REQUIRED {Add any additional navigation links here} -->
            </ul>
        </nav>
    </header>
</body>

</html>