<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs'); %>
<body>
<%- include('partials/_header.ejs'); %>
<main role="main" class="container mt-4">
  <div class="text-center">
    <h1>Mastermind</h1>
    <p>Welcome to Mastermind App!</p> <!-- Added welcome message -->
  </div>
   <!-- Add the CSRF token as a hidden input field -->
</main>
<%- include('partials/_taskbar.ejs'); %>
<%- include('partials/_footer.ejs'); %>
<script src="/js/main.js"></script>
</body>
</html>