<div class="taskbar fixed-bottom bg-dark text-light">
  <div class="d-flex justify-content-between">
    <div class="p-2">Mastermind OS</div>
    <div class="p-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Create Window</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
<div class="dropdown">
    <button class="dropbtn">Settings</button>
    <div class="dropdown-content">
        <a href="#" id="config-link">Config</a>
    </div>
</div>

      </ul>
    </div>
  </div>
</div>