<div class="taskbar fixed-top bg-dark text-light">
  <div class="d-flex justify-content-between">
    <div class="p-2">Mastermind OS</div>

    <!-- ChatBox button as a part of the taskbar -->
    <div class="p-2">
      <a href="/chat" class="btn btn-primary">ChatBox</a>
    </div>

    <!-- Actions dropdown -->
    <div class="p-2">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
        Actions
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Create Window</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
      </ul>
    </div>
  </div>
</div>
